<!DOCTYPE html>
<html>
<head>
    <title>Rainfall Prediction Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <h1>Rainfall Prediction Dashboard</h1>
    
    <nav>
        <a href="{{ url_for('history') }}">View Prediction History</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    
    
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.pressure.label }} {{ form.pressure(placeholder = "Air pressure at your location in hectopascals") }}<br>
        {{ form.temparature.label }} {{ form.temparature(placeholder = "Typical temperature during the period in °C") }}<br>
        {{ form.dewpoint.label }} {{ form.dewpoint(placeholder = "Temperature where air becomes fully saturated") }}<br>
        {{ form.humidity.label }} {{ form.humidity(placeholder = "Amount of moisture in air as a percentage") }}<br>
        {{ form.cloud.label }} {{ form.cloud(placeholder = "Sky area covered by clouds as a percentage") }}<br>
        {{ form.sunshine.label }} {{ form.sunshine(placeholder = "Total hours of sunshine in the period") }}<br>
        {{ form.winddirection.label }} {{ form.winddirection(placeholder = "Direction wind is coming from (0-360°)") }}<br>
        {{ form.windspeed.label }} {{ form.windspeed(placeholder = "Speed of the wind in kilometers per hour") }}<br>
        
        {{ form.submit() }}
    </form>
    
    {% if prediction %}
        {% if prediction == 'yes' %}
            <div class="prediction-result">
                🌧️ Rain, you might want to carry an umbrella.
            </div>
        {% elif prediction == 'no' %}
            <div class="prediction-result">
                ☀️ No need to carry an umbrella.
            </div>
        {% else %}
            <div class="prediction-result">
                Prediction: {{ prediction }}
            </div>
        {% endif %}
    {% endif %}
    
    <footer>© 2025 RainCast</footer>
</body>
</html>
